body {
    font-family: 'Roboto','Hiragino Sans','Meiryo','Hiragino Kaku Gothic ProN',sans-serif;
    line-height: 1.7;
    letter-spacing: 0.04em;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "palt";
}
.ly_header_ttl {
    margin-bottom: 24px;
}
.bl_header_ttl {
    text-align: center;
}
