body {
    font-family: 'Roboto','Hiragino Sans','Meiryo','Hiragino Kaku Gothic ProN',sans-serif;
    line-height: 1.7;
    letter-spacing: 0.04em;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "palt";
}

.js_accordion_conts {
    height: 0;
    overflow: hidden;
    transition: .4s ease;
}
.js_accordion_conts.is_open {
    height: auto;
    opacity: 1;
    transition: .4s ease;
}
